<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Languages are separated by a comma, and the language name is separated by a sharp (first part is how the language is in the file, and the second part how should the language name be in the final file). -->
    <!--By default the language name in the target XML file will be without dash and in lower case-->
    <add key="Languages" value="en#enus,pt-BR,es-ES,it-IT,sk-SK,zh-Hans,ru-RU" />
    
    <add key="SourceFiles" value="..\..\SistemaRLAPA.Module\Model.DesignedDiffs.xafml,..\..\SistemaRLAPA.Module.Web\Model.DesignedDiffs.xafml,..\Model.xafml" />
    <!--<add key="SourceFiles" value="C:\Temp\Model\Module\Model.DesignedDiffs.xafml,C:\Temp\Model\Module.Web\Model.DesignedDiffs.xafml,C:\Temp\Model\Web\Model.xafml"/>-->
    <add key="SourceFilesLanguageSeparator" value=".Localization.,.Localization.,_"/>
    
    <add key="TargetFile" value="C:\Temp\Model\StaticTexts.xml" />

    <add key="LogPath" value="" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>